// _c-logo
.logo {
  margin-top: 25px;
  margin-bottom: 25px;

  @include respond-to('medium'){

  }

  @include respond-to('large'){
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
  }

  img {
    width: 150px;

    @include respond-to('medium'){
      width: 350px;
    }

    @include respond-to('large'){
      width: 400px;
    }
  }
}