// _c-title.scss

.title {
  position: relative;
  z-index: 2;
  font-family: font('secondary');
  @include font-size(30px);
  padding: 40px 0;
  background: color('background');
  text-align: center;
  color: color('foreground');

  &:before {
    content: '';
    position: absolute;
    top: -27px;
    z-index: 2;
    display: block;
    width: 100%;
    height: 27px;
    background: url("../img/scratch-top.png") repeat-x;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -27px;
    z-index: 2;
    display: block;
    width: 100%;
    height: 27px;
    background: url("../img/scratch-bottom.png") repeat-x;
  }

  &--primary { // h1 and primary level titles
    @include font-size(30px);
    color: color('primary');
  }

  &--secondary { // h2 and secondary level titles
    @include font-size(20px);
    color: color('secondary');
  }

  &--first {
    margin-top: -5px;
  }
}
