// _c-title.scss

.title {
  font-family: font('secondary');
  padding: 90px 0;
  background: url("../img/scratch.png") center/cover;
  text-align: center;


  &--primary { // h1 and primary level titles
    @include font-size(30px);
    color: color('primary');
  }

  &--secondary { // h2 and secondary level titles
    @include font-size(20px);
    color: color('secondary');
  }

  &--first {
    margin-top: -70px;
  }
}
