// _m-bio.scss

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 280px;
  margin: 40px auto 80px auto;

  @include respond-to('medium') {
    width: $screen-sm;
    margin: 80px auto 110px auto;
  }

  @include respond-to('large') {
    width: $screen-md;
    margin: 80px auto 110px auto;
  }

  &__headline {
    margin: 20px;
    line-height: em(30px, 20px);
    font-family: font('primary');
    color: color('background');
    @include font-size(22px);
    text-align: center;
    text-transform: uppercase;

    @include respond-to('large') {
      margin: 50px;
      @include font-size(30px);
    }

    br {
      display: none;

      @include respond-to('medium') {
        display: block;
      }
    }
  }

  &__profil {
    position: relative;
    text-align: center;
    width: 230px;
    height: 485px;

    @include respond-to('medium') {
      width: 50%;
      margin-bottom: 50px;
    }

    @include respond-to('large') {
      width: 24%;
    }

    & + & {
      margin-top: 30px;

      @include respond-to('medium') {
        margin-top: 0;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 485px;

      @include respond-to('medium') {
        left: 50%;
        transform: translateX(-50%);
      }

      @include respond-to('large') {

      }
    }

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 280px;

      @include respond-to('medium') {
        width: $screen-sm;
        flex-direction: row;
      }

      @include respond-to('large') {
        width: $screen-md;
      }
    }
  }

  &__name {
    @include font-size(30px);
    font-family: font('secondary');
    color: color('secondary');
  }

  &__role {
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 280px;
    margin-top: 30px;

    @include respond-to('medium') {
      flex-direction: row;
      align-items: start;
      width: $screen-sm;
      padding: 0 20px;
      margin-top: 70px;
    }

    @include respond-to('large') {
      width: $screen-md;
    }
  }

  &__text,
  &__img {
    width: 100%;
    line-height: em(24px, 16px);

    @include respond-to('medium') {
      width: 48%;
    }
  }

  &__img {
    margin-top: 30px;

    @include respond-to('medium') {
      margin-top: 0;
    }
  }

  &__txt {
    p {
      @include font-size(30px);
    }
  }
}