// _banner.scss

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  min-height: 300px;
  background: url('../img/ocean.jpg') center/cover;

  &__boat {
    width: 280px;
    margin-bottom: 50px;

    @include respond-to('medium'){
      width: 350px;
    }

    @include respond-to('large'){
      width: 500px;
      background: transparent;
    }
  }
}