// _m-social-media.scss

.social-media {
  display: none;

  .menu & {
    display: block;
  }

  @include respond-to('large'){
    display: flex;
    justify-content: space-between;
    color: color('background');
    z-index: z('modal');
  }

  &__item {
    color: color('background');
    text-decoration: none;

    i {
      display: inline-block;
      margin: 0 20px;
      padding: 10px 0;
      @include font-size(40px);
      cursor: pointer;
      @include transition();

      @include respond-to('medium'){
        margin: 0 10px;
      }

      &:hover{
        color: color('secondary');
      }
    }
  }
}
