// _m-social-media.scss

.social-media {
  display: flex;
  justify-content: space-between;
  color: color('background');
  z-index: z('modal');

  &__item {
    color: color('background');
    text-decoration: none;

    i {
      margin: 0 10px;
      @include font-size(40px);
      cursor: pointer;
      @include transition();

      &:hover{
        color: color('primary');
      }
    }
  }
}
