// _m-tour.scss
.tour {
  position: relative;
  margin: -30px 0 80px 0;

  @include respond-to('medium'){
    margin: -110px 0 110px 0;
  }

  @include respond-to('large'){
    margin: -110px 0 110px 0;
  }

  img {
    display: block;
    margin: auto;
    width: 960px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include respond-to('medium'){
      margin-top: -100px;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 280px;

    @include respond-to('medium'){
      width: 530px;
    }

    & + & {
      margin-top: 30px;
    }
  }

  &__img {
    position: relative;
    top: -5px;
    @include size(50px);
    margin-right: 10px;

    @include respond-to('medium'){
      top: -20px;
      @include size(100px);
      margin-right: 30px;
    }


    img {
      @include size(50px);

      @include respond-to('medium'){
        @include size(100px);
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__date {
    color: color('secondary');
    font-family: font('secondary');
    @include font-size(20px);

    @include respond-to('medium'){
      @include font-size(30px);
    }
  }

  &__place {
    @include font-size(16px);
    font-family: font('primary');
    color: color('background');
    text-transform: uppercase;
    font-weight: 700;

    @include respond-to('medium'){
      @include font-size(30px);
    }
  }
}